page-home {

	ion-card:first-of-type {
		animation: 2s linear shakeIt infinite;
	}

}

@keyframes growShrink {

	0% {
		height: 0;
	}

	50% {
		height: 500px;
	}

	100% {
		height: 0;
	}

}

@keyframes blueToGrey {

	0% {
		background-color: #0f86ff;
	}

	50% {
		background-color: #cecece;
	}

	100% {
		background-color: #0f86ff;
	}

}

@keyframes shakeIt {

	0% {
		transform: translate3d(0, 0, 0);
	}

	25% {
		transform: translate3d(-20px, 0, 0);
	}

	75% {
		transform: translate3d(20px, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}

}