<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-card *ngFor="let card of cards">

	  <ion-item>
	    <ion-avatar item-start>
	      <img src="http://placehold.it/75">
	    </ion-avatar>
	    <h2>Marty McFly</h2>
	    <p>November 5, 1955</p>
	  </ion-item>

	  <img src="http://placehold.it/400">

	  <ion-card-content>
	    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
	  </ion-card-content>

	  <ion-row>
	    <ion-col>
	      <button ion-button icon-left clear small>
	        <ion-icon name="thumbs-up"></ion-icon>
	        <div>12 Likes</div>
	      </button>
	    </ion-col>
	    <ion-col>
	      <button ion-button icon-left clear small>
	        <ion-icon name="text"></ion-icon>
	        <div>4 Comments</div>
	      </button>
	    </ion-col>
	    <ion-col center text-center>
	      <ion-note>
	        11h ago
	      </ion-note>
	    </ion-col>
	  </ion-row>

	</ion-card>

</ion-content>
